@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&family=Fjalla+One&family=Lemon&family=Oswald:wght@500&display=swap');

body {
  margin: 0;
}

.imgs {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.imgs img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  filter: brightness(20%);
}

.imgs img.next {
  opacity: 1;
  z-index: 1;
}

.imgs img.prev {
  opacity: 1;
  z-index: 2;
}

.imgs img.fade-out {
  opacity: 0;
  transition: visibility 0s 1.3s, opacity 1.3s linear;
  visibility: hidden;
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
   z-index: 3;
}

.logo b{
  font: 400 13vh "Chakra Petch";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #7e2db4, 0 0 0.5em #7e2db4, 0 0 0.1em #7e2db4, 0 10px 3px #000;
}

.logo b span{
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}